<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify OAuth 2</title>
</head>
<body>
    <div id='homeContent'>
        <h1>Spotify OAuth 2 flow testing </h1>
        <p>Testing Authorization Code Flow with PKCE extension</p>
        <div class="btn-container">
            <button id="loginButton">
                <a href="{{authUrl}}">Login</button></a>
        </div>
    </div>
</body>
</html>