<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{username}}'s Playlists</title>
    <div id="userPlaylists">
        <pre>
            <h2>{{username}}'s Playlists</h2>
                <!-- Loop playlist names and print as list (WIP) -->
                {% for i in playlists %}
                <li>{{i['name']}} - {{playlist_id}}</li>
                {% endfor %}
        </pre>
    </div>
</head>
<body>
</body>
</html>
